<a href="https://colab.research.google.com/github/fonsecajr/Projects/blob/master/A%C3%A7%C3%B5es_Analises3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf
yf.pdr_override()
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
!pip install pyfolio
import pyfolio as pf #buggie
import warnings
warnings.filterwarnings('ignore')

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.54)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.4)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.3)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Collecting pyfolio
  Downloading https://files.pythonhosted.org/packages/28/b4/99799b743c4619752f88b70354924132a2e9b82f4656fe7c55eaa9101392/pyfolio-0.9.2.tar.gz (91kB)
     |████████████████████████████████| 92kB 5.5MB/s
Requirement already satisfied: ipython>=3.2.3 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (5.5.0)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (3.2.1)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (1.18.4)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (1.0.3)
Requirement already satisfied: pytz>=2014.10 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (2018.9)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (1.4.1)
Requirement already satisfied: scikit-learn>=0.16.1 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (0.22.2.post1)
Requirement already satisfied: seaborn>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from pyfolio) (0.10.1)
Collecting empyrical>=0.5.0
  Downloading https://files.pythonhosted.org/packages/84/9e/9506e8b25464ff57ef93b5ba9092b464b44dc76b717695b126b3c93214a2/empyrical-0.5.3.tar.gz (50kB)
     |████████████████████████████████| 51kB 6.9MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (4.3.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (46.1.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (2.1.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=3.2.3->pyfolio) (4.8.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->pyfolio) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->pyfolio) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->pyfolio) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->pyfolio) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.16.1->pyfolio) (0.14.1)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.6/dist-packages (from empyrical>=0.5.0->pyfolio) (0.8.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython>=3.2.3->pyfolio) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython>=3.2.3->pyfolio) (1.12.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=3.2.3->pyfolio) (0.1.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=3.2.3->pyfolio) (0.6.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (4.2.6)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.9)
Building wheels for collected packages: pyfolio, empyrical
  Building wheel for pyfolio (setup.py) ... done
  Created wheel for pyfolio: filename=pyfolio-0.9.2-cp36-none-any.whl size=88668 sha256=65d3f4189a6e135ebf50166311f3cd69ef4a33afa931dd53a1169364835c3f46
  Stored in directory: /root/.cache/pip/wheels/0d/a8/7d/ac33fe6bf6f3db370291c9de303460d00b8f97cc40a1d80f72
  Building wheel for empyrical (setup.py) ... done
  Created wheel for empyrical: filename=empyrical-0.5.3-cp36-none-any.whl size=37087 sha256=da905cdb425368bff6e9921354a80b957d115380e4f13f5fca8adc256e01215f
  Stored in directory: /root/.cache/pip/wheels/10/a4/3b/951bd609878a82fd72b9ea23699daf1eaada4ff6f583152876
Successfully built pyfolio empyrical
Installing collected packages: empyrical, pyfolio
Successfully installed empyrical-0.5.3 pyfolio-0.9.2

/usr/local/lib/python3.6/dist-packages/pyfolio/pos.py:28: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  ' to position notionals.'

In [29]:
tickers = ["ITUB3.SA","ITUB4.SA", "ITSA3.SA", "ITSA4.SA", "^BVSP"]
portfolio = yf.download(tickers, period="5y")["Adj Close"]

[*********************100%***********************]  5 of 5 completed

In [30]:
portfolio

             ITSA3.SA  ITSA4.SA   ITUB3.SA   ITUB4.SA    ^BVSP
Date
2015-05-14   5.632432  5.686276  15.061206  16.830490  56657.0
2015-05-15   5.744842  5.745818  15.340974  17.144880  57249.0
2015-05-18   5.614683  5.674369  15.108614  16.688807  56204.0
2015-05-19   5.715263  5.585057  14.932187  16.454126  55499.0
2015-05-20   5.472691  5.531469  14.785815  16.161922  54901.0
...               ...       ...        ...        ...      ...
2020-05-08  10.190000  8.490000  21.340000  22.320000  80263.0
2020-05-11  10.060000  8.420000  21.709999  22.379999  79065.0
2020-05-12   9.670000  8.180000  20.900000  21.610001  77872.0
2020-05-13   9.990000  8.220000  20.850000  21.600000  77772.0
2020-05-14  10.030000  8.520000  21.490000  22.549999  79011.0

[1242 rows x 5 columns]

In [161]:
portfolio_returns = portfolio.pct_change()
portfolio_returns.iloc[0] = 0
portfolio_returns

            ITSA3.SA  ITSA4.SA  ITUB3.SA  ITUB4.SA     ^BVSP
Date
2015-05-14  0.000000  0.000000  0.000000  0.000000  0.000000
2015-05-15  0.019958  0.010471  0.018575  0.018680  0.010449
2015-05-18 -0.022657 -0.012435 -0.015146 -0.026601 -0.018254
2015-05-19  0.017914 -0.015740 -0.011677 -0.014062 -0.012544
2015-05-20 -0.042443 -0.009595 -0.009802 -0.017759 -0.010775
...              ...       ...       ...       ...       ...
2020-05-08  0.022066  0.024125  0.025962  0.041045  0.027445
2020-05-11 -0.012758 -0.008245  0.017338  0.002688 -0.014926
2020-05-12 -0.038767 -0.028504 -0.037310 -0.034406 -0.015089
2020-05-13  0.033092  0.004890 -0.002392 -0.000463 -0.001284
2020-05-14  0.004004  0.036496  0.030695  0.043981  0.015931

[1242 rows x 5 columns]

In [162]:
portfolio_normalized = ( 1 + portfolio_returns).cumprod()
portfolio_normalized

            ITSA3.SA  ITSA4.SA  ITUB3.SA  ITUB4.SA     ^BVSP
Date
2015-05-14  1.000000  1.000000  1.000000  1.000000  1.000000
2015-05-15  1.019958  1.010471  1.018575  1.018680  1.010449
2015-05-18  0.996849  0.997906  1.003148  0.991582  0.992005
2015-05-19  1.014706  0.982199  0.991434  0.977638  0.979561
2015-05-20  0.971639  0.972775  0.981715  0.960276  0.969006
...              ...       ...       ...       ...       ...
2020-05-08  1.809165  1.493068  1.416885  1.326165  1.416648
2020-05-11  1.786085  1.480758  1.441452  1.329729  1.395503
2020-05-12  1.716843  1.438551  1.387671  1.283979  1.374446
2020-05-13  1.773657  1.445586  1.384351  1.283385  1.372681
2020-05-14  1.780758  1.498344  1.426845  1.339830  1.394550

[1242 rows x 5 columns]

In [0]:
portfolio_applied = 10000 * portfolio_normalized
portfolio_applied["Results"] = portfolio_applied.iloc[:, :4].sum(axis=1)
portfolio_applied["Returns"] = portfolio_applied["Results"].pct_change()

In [0]:
portfolio_ITSA = portfolio_applied.iloc[:, [1,2]]
portfolio_ITSA["Results"] = portfolio_ITSA.sum(axis=1)
portfolio_ITSA["Returns"] = portfolio_ITSA["Results"].pct_change()

In [0]:
portfolio_ITUB = portfolio_applied.iloc[:,[3,4]]
portfolio_ITUB["Results"] = portfolio_ITUB.sum(axis=1)
portfolio_ITUB["Returns"] = portfolio_ITUB["Results"].pct_change()

In [168]:
portfolio_applied["ReturnsITSA"] = portfolio_ITSA["Returns"]
portfolio_applied["ReturnsITUB"] = portfolio_ITUB["Returns"]
portfolio_applied.columns = ['ITASA3.SA','ITASA4.SA','ReturnsITSA','ITUB3.SA','ITUB4.SA','ReturnsITUB','Results','Returns','^BVSP']
portfolio_applied.head()

               ITASA3.SA     ITASA4.SA  ...   Returns     ^BVSP
Date                                    ...
2015-05-14  10000.000000  10000.000000  ...       NaN       NaN
2015-05-15  10199.575587  10104.710395  ...  0.014523  0.014564
2015-05-18   9968.488154   9979.059933  ... -0.013796 -0.022444
2015-05-19  10147.060641   9821.993082  ... -0.013703 -0.013303
2015-05-20   9716.390003   9727.753140  ... -0.009699 -0.014263

[5 rows x 9 columns]

In [177]:
pf.create_full_tear_sheet(portfolio_ITUB["Returns"], benchmark_rets=portfolio_ITSA["Returns"])

AttributeError: ignored

In [178]:
pf.create_full_tear_sheet(portfolio_applied["Returns"], benchmark_rets=portfolio_applied["^BVSP"])

AttributeError: ignored

In [186]:
import urllib.request
import urllib.parse
import re

query_string = urllib.parse.urlencode({"search_query" : input("Type search query and hit enter: ")})
html_content = urllib.request.urlopen("http://www.youtube.com/results?" + query_string)
search_results = re.findall(r'href=\"\/watch\?v=(.{11})', html_content.read().decode())
print("http://www.youtube.com/watch?v=" + search_results[0])

Type search query and hit enter: Sarah Brightman & Andrea Bocelli
http://www.youtube.com/watch?v=g3ENX3aHlqU